{% extends "base.html" %}
{% load static %}

{% block body %}
	<div class="msg bg-white dark:bg-gray-900 h-screen text-center">
		{% comment %} new email send message  {% endcomment %}
		<h1 class="text-4xl font-bold text-gray-800 dark:text-white justify-self-center mb-6">Email Verification</h1>
		<p class="text-lg text-gray-800 dark:text-white justify-self-center mb-6">A new verification link has been sent to your email. Please verify your email to continue.</p>
		<p class="text-lg text-gray-800 dark:text-white justify-self-center mb-6">Didn't receive the email? <a href="{% url "request-new-link-from-email" %}" class="text-blue-500 dark:text-blue-400">Resend</a></p>

	</div>
{% endblock body %}